<div class="am-container" style="margin-top:15px;">
	<table class="am-table am-table-bordered am-warning" style="margin-bottom:0px;">
		<tr>
			<td class="am-warning"><small>@(PageData["Msg"])</small></td>
		</tr>
	</table>
</div>
